@{
    Layout = null;
}

<!DOCTYPE html>

<!DOCTYPE html>
<html lang="en">

@await Html.PartialAsync("/Views/Partial/HeadPartial.cshtml")

<body>

    @await Html.PartialAsync("/Views/Partial/PreloaderPartial.cshtml")
    



    <div id="main-wrapper">

        @await Html.PartialAsync("/Views/Partial/NavHeaderPartial.cshtml")

        @await Html.PartialAsync("/Views/Partial/HeaderPartial.cshtml")


        @await Html.PartialAsync("/Views/Partial/SidebarPartial.cshtml")
       
       
        
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        
        @await Html.PartialAsync("/Views/Partial/FooterPartial.cshtml")


    </div>

    @await Html.PartialAsync("/Views/Partial/ScriptsPartial.cshtml")

</body>

</html>


