@model List<MoneyModel.Exchange_Rates>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">


    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Döviz Kodu</th>
            <th>Birim Fiyat</th>
          

        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.currency</td>
                <td>@x.exchange_rate_buy</td>
              
                
                <td><a href="#" class="btn btn-success">Güncelle</a></td>

            </tr>
        }


    </table>

</div>