<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Staff/StaffIndex" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Staff</span>
                </a>
            </li>

            <li>
                <a href="/Testimonials/TestimonialsIndex" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Testimonials</span>
                </a>
            </li>

            <li>
                <a href="/Service/ServiceIndex" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Service</span>
                </a>
            </li>

            <li>
                <a href="/BookingAdmin/BookingIndex" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Booking</span>
                </a>
            </li>

            <li>
                <a href="/Message/Inbox" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Messages</span>
                </a>
            </li>

            <li>
                <a href="/AdminMail/Index" aria-expanded="false">
                    <i class="fa fa-user menu-icon"></i><span class="nav-text">Mail İşlemleri</span>
                </a>
            </li>
                        
        </ul>
    </div>
</div>
